apiVersion: 1  # Версия формата provisioning

datasources:
  - name: Prometheus                       # Имя datasource в Grafana
    uid: adscyf5fvb6dcf                    # Фиксированный UID (используется в дашбордах)
    type: prometheus                       # Тип datasource
    access: proxy                          # Grafana ходит в Prometheus сама (server-side)
    url: http://prometheus-central:9090    # URL Prometheus внутри docker-сети
    isDefault: true                        # Сделать datasource по умолчанию
    editable: false                        # Запрет изменения через UI

  - name: Loki                             # Имя datasource в Grafana
    uid: edsei728schkwd                    # Фиксированный UID (используется в дашбордах)
    type: loki                             # Тип datasource
    access: proxy                          # Grafana проксирует запросы в Loki
    url: http://loki-central:3100          # URL Loki внутри docker-сети
    editable: false                        # Запрет изменения через UI
    jsonData:
      httpHeaderName1: X-Scope-OrgID       # Имя заголовка для multi-tenancy (tenant)
    secureJsonData:
      httpHeaderValue1: ${LOKI_TENANT_ID}  # Значение tenant id берется из env (не хранится открыто в UI)